
@{
    ViewBag.Title = "GamePage";
    Layout = "~/Views/Shared/_LayoutLoginPage.cshtml";
}
@if (TempData["success"] != null)
{
    <script>
        toastr.success('@TempData["success"]')
    </script>
}
@if (TempData["error"] != null)
{
    <script>
        toastr.error('@TempData["error"]')
    </script>
}

<h2 class="text-center">Generate and Earn</h2>


<div class="card" style="max-width: 350px; text-align: center; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);margin:auto;margin-top:120px">
    <div class="card-body" style=" padding: 20px;">
        <img src="~/Content/Theme/UserDashBoard/img/OIP.jpg" alt="Game Image" class="img-fluid rounded-circle mb-3">
        <h5 class="card-title">Random Number</h5>
        <input type="text" id="randomNumber" value="" readonly class="form-control" />
        <hr />
        <button id="generateNumber" class="btn btn-success" type="submit">Play</button>

        <a class="btn btn-primary" href="wallet">Check Balance</a>

        <span id="error" class="text-danger"></span>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#generateNumber").on("click", () => {
            var random = Math.floor(Math.random() * 100) ;
            var randomNumber = document.getElementById("randomNumber");

            if (Number(@Session["chance"]) > 0) {
                randomNumber.value = random;

            $.ajax({
                url: "/Game/updateWalletAmount?id=" + @Convert.ToInt32(Session["UserId"]) + "&amount=" + random,
                type: "GET",
                success: function (data) {
                    if (data == 1) {
                        randomNumber.value = random;
                        setTimeout(function () { window.location.reload(); }, 1000);
                    }
                    else {
                        alert("Sorry ! You earn 500 today . Now you can play game after 24 Hour");
                    }
                }
            });
        } else {
                if (confirm("Are you sure you want to play again? pay 20 rupees and get one more chance ")) {
                    randomNumber.value = random;

                $.ajax({
                    url: "/Game/updateWalletAmount?id=" + @Convert.ToInt32(Session["UserId"]) + "&amount=" + random,
                    type: "GET",
                    success: function (data) {
                        if (data == 1) {
                            randomNumber.value = random;
                            setTimeout(function () { window.location.reload(); }, 1000);
                        }
                        else {
                            alert("Sorry your today Wallet amount is more than 500. So you can play game after 24 Hour");
                        }
                    }
                });
            }
        }
        });
    });
</script>

                                @*url: "/Game/updateWalletAmount?id=" + @Convert.ToInt32(Session["UserId"]) + "&amount=" + random,*@